:root {
  --rad: 8px;
  --primary: #ee1515;
  --text: #222224;
  --background: #f0f0f0;
  --surface: var(--surface);
  --shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

html,
body {
  font-family: system-ui;
}

header {
  margin: 0 0 2rem;
}

header a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

header a h1 {
  margin: -1rem 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.menu h2 {
  margin: 0.4rem 0;
}

.menu button {
  cursor: pointer;
  width: 30px;
  margin: 0 0.1rem;
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.spacer {
  flex-grow: 1;
}

#error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#error h1 {
  margin: 0;
}

#list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item {
  border-radius: var(--rad);
  box-shadow: var(--shadow);
  background-color: var(--surface);
  width: 8rem;
  min-height: 10rem;
  margin: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.details .type-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.details .type-list .type {
  border-radius: var(--rad);
  padding: 0.1rem 0.2rem;
}

.normal {
  background-color: #a8a77a;
}
.fire {
  background-color: #ee8130;
}
.water {
  background-color: #6390f0;
}
.electric {
  background-color: #f7d02c;
}
.grass {
  background-color: #7ac74c;
}
.ice {
  background-color: #96d9d6;
}
.fighting {
  background-color: #c22e28;
}
.poison {
  background-color: #a33ea1;
}
.ground {
  background-color: #e2bf65;
}
.flying {
  background-color: #a98ff3;
}
.psychic {
  background-color: #f95587;
}
.bug {
  background-color: #a6b91a;
}
.rock {
  background-color: #b6a136;
}
.ghost {
  background-color: #735797;
}
.dragon {
  background-color: #6f35fc;
}
.dark {
  background-color: #705746;
}
.steel {
  background-color: #b7b7ce;
}
.fairy {
  background-color: #d685ad;
}

.item:hover {
  transform: scale(1.05);
}

.skeleton {
  background: linear-gradient(
    90deg,
    hsl(210, 15%, 88%),
    hsl(210, 15%, 95%),
    hsl(210, 15%, 88%)
  );
  background-size: 200%;
  animation: loader 1s infinite reverse;
}

.corner-ribbon {
  background: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 0.8rem;
  border-radius: 0 0 var(--rad);
}

.item .details {
  width: 100%;
}

.item .details img {
  width: 100%;
  min-height: 70px;
  border-radius: var(--rad) var(--rad) 0 0;
}

.item h2 {
  margin: 0 0 0.3rem;
  padding: 0;
}

@keyframes loader {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}
